node-red/flows.json
[
    {
        "id": "acd7d5131a2f320e",
        "type": "tab",
        "label": "Monitoramento Mottu - Pátio",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d4cf0678e9386172",
        "type": "mqtt in",
        "z": "acd7d5131a2f320e",
        "name": "MQTT - mottu/patio",
        "topic": "mottu/patio",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ff6c1115db2703b2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "077df06d5192dbbf",
                "f8ad443f01556b79"
            ]
        ]
    },
    {
        "id": "077df06d5192dbbf",
        "type": "debug",
        "z": "acd7d5131a2f320e",
        "name": "MQTT Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "f8ad443f01556b79",
        "type": "function",
        "z": "acd7d5131a2f320e",
        "name": "Separar dados JSON",
        "func": "let dados;\n\n// Se msg.payload for string, parse, senão usa direto\nif (typeof msg.payload === \"string\") {\n    try {\n        dados = JSON.parse(msg.payload);\n    } catch (e) {\n        node.error(\"Erro ao fazer parse do JSON: \" + e);\n        return null;\n    }\n} else {\n    dados = msg.payload; // já é objeto\n}\n\nreturn [\n    { payload: dados.sensor_principal },\n    { payload: dados.sensor_teste }\n];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 280,
        "wires": [
            [
                "2b0dd86f7e01c901",
                "5d859ceb2538d2bc"
            ],
            [
                "e32e79edd1b7d37b",
                "2e28bca193a90739"
            ]
        ]
    },
    {
        "id": "2b0dd86f7e01c901",
        "type": "ui_gauge",
        "z": "acd7d5131a2f320e",
        "name": "Distância Principal",
        "group": "7d421990b1e2118b",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor Principal",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 30,
        "seg2": 60,
        "diff": false,
        "className": "",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "5d859ceb2538d2bc",
        "type": "ui_chart",
        "z": "acd7d5131a2f320e",
        "name": "Gráfico Principal",
        "group": "7d421990b1e2118b",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Histórico Sensor Principal",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e32e79edd1b7d37b",
        "type": "ui_gauge",
        "z": "acd7d5131a2f320e",
        "name": "Distância Teste",
        "group": "a2dd36f098ac5353",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor de Teste",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 30,
        "seg2": 60,
        "diff": false,
        "className": "",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "2e28bca193a90739",
        "type": "ui_chart",
        "z": "acd7d5131a2f320e",
        "name": "Gráfico Teste",
        "group": "a2dd36f098ac5353",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Histórico Sensor de Teste",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ff6c1115db2703b2",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "node_red_mottu",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "7d421990b1e2118b",
        "type": "ui_group",
        "name": "Sensor Principal",
        "tab": "e7b2e4c7a63c9473",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2dd36f098ac5353",
        "type": "ui_group",
        "name": "Sensor de Teste",
        "tab": "e7b2e4c7a63c9473",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7b2e4c7a63c9473",
        "type": "ui_tab",
        "name": "Monitoramento Pátio",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]